.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.custom-button {
  cursor: pointer;
}
.modal__wrap {
  position: fixed;
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31, 32, 41, 0.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}

.visible {
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.modal {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  display: block;
  width: 60vw;
  height: 60%;
  min-height: 400px;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding-bottom: 20px;
  background-color: #fff;
  align-self: center;
  box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
  transform: scale(0);
  color: #000;
}

.visible .modal {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.editor-color {
  color: #000;
}

.blog-header {
  min-height: 100vh;
  padding: 0;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
.blog-header > .content {
  margin-top: 12%;
  text-align: center;
  margin-bottom: 50px;
}
.blog-header:before {
  background-color: rgba(0, 0, 0, 0.3);
}
.blog-header > .container {
  z-index: 2;
  padding-top: 12vh;
  padding-bottom: 40px;
}
.blog-header.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  padding: 0 15px;
  width: 100%;
  max-width: 880px;
}
.blog-headerfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.blog-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}

.blog-header:after,
.blog-header:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.card-blog-2 {
  position: relative;
  overflow: hidden;
  display: flex;

  width: 300px;
  height: 400px;

  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.56s ease-in-out;
}
.card-blog-2:hover {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.card__title {
  align-self: flex-end;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  cursor: pointer;
}

.card__icons {
  align-self: flex-end;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
}

.card__description {
  align-self: flex-end;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
}

.published_date {
  align-self: flex-start;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
}
.card__thumbnail {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.card__thumbnail > img {
  height: 100%;
}

.card__thumbnail > .card__title {
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.card__thumbnail > .card__icons {
  position: absolute;
  left: 0;
  bottom: 0;
}

.card__thumbnail > .card__description {
  position: absolute;
  left: 0;
  bottom: 2rem;
}

.card__thumbnail > .published_date {
  position: absolute;
  left: 0;
  top: 2;
}

.has-bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
